* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mycontainer {
    position: relative;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

#spinner   {  
    padding-top: 20%;
  
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.inline{
    display: flex;
  background: #F6F1F1;
    position: fixed;
    width: 100%;
    height: 7680px;
    z-index: 9999;
    justify-content: center;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;
  animation: spin 1s linear infinite;
    color:red;
}
body,
html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;

}

body.no-scroll {
    overflow-y: scroll;
}

.navheader {
    color: #17B0D9;
}

.menu {
    max-width: 900px;
    width: 100%;
}

.menuitems {
    list-style: none;
    justify-content: space-between;
    margin: 0;
    align-items: baseline;

}

.tiny {
    border-color: #17B0D9;
    width: 0;
    margin: 0;
    transition: width .4s ease;
    opacity: 0;
}

.menuitems li {
    transition: all .4s;

}

.menuitem:hover:not(.col) {
    color: #17B0D9;
}

.menuitems li:hover .tiny {
    width: 1.5rem;
    opacity: 1;
}

.navheader h3 {
    margin-bottom: 0 !important;
}

.questionbutton {
    border: 0;
    background: #17B0D9;
    padding: .25rem 1rem;
    border-radius: 20px;
    color: white;
    margin: 0;
    transition: color .7s, background-color .7s;


}

.burger-menu {

    height: 40px;
    display: none;
}

.menu-inventory {
    padding-top: 3rem;
    width: 100%;
    height: 100vh;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 6;
    background: white;
    margin-top: -.5rem;

}

.menuitems a {
    color: #B9B9B9;

    display: inline-block;
    position: relative;
    padding: 1rem;
}

.lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 6px;
    right: 35px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 2px;
    right: 35px;
    z-index: 8;
    opacity: 0;
    cursor: pointer;
}

.lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
}

.lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked~.menu-inventory {
    transform: translateX(0);
}

input[type="checkbox"]:checked~.lines .line1 {
    transform: rotate(45deg);

}

input[type="checkbox"]:checked~.lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked~.lines .line3 {
    transform: rotate(-45deg);
}

.questionbutton:hover {
    color: #17B0D9;
    background: white;

}

.downangel {
    position: relative;
}

.downarrow {
    position: absolute;
    top: .45rem;
    margin-left: .20rem;
    margin-right: .20rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 1400px;

}

.dropdown-content {
    position: absolute;
    max-width: 1400px;
    width: 100%;
    top: 2rem;
    left: -42rem;
    background-color: #F6F1F1;
    min-width: 1250px;
    margin: 0 auto;
    text-align: center;
    padding-left: 1rem;
    z-index: -1;
    top: 1rem;
    opacity: 0;
    transition: all .4s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-content>.row .col {
    padding: 1rem;
    transition: all .4s;
    max-width: 250px;
    color: #000000 !important;
}

.dropdown-content .row div:hover {
    background-color: #17B0D9;
    color: #F6F1F1 !important;
}

.radius1 {
    border-bottom-left-radius: 20px;
}

.radius2 {
    border-bottom-right-radius: 20px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    z-index: 3;
    top: 2.5rem;
}

.landscapeimage {
    width: 100%;
    object-fit: cover;
    max-height: 885px;

}

.arrowlink {
    color: white !important;
    transition-duration: 1s;
}

.arrow {
    margin: 0 auto;
    margin-top: -3.75rem;
    position: relative;
    max-width: 100px;
    color: white;
    font-size: 2rem;
    background: #17B0D9;
    text-align: center;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    width: 100%;
    z-index: 5;
    border: 2px solid #17B0D9;

    box-shadow: 0px -3px 0px 3px rgb(23 176 217 / 30%)
}

.banner {
    position: relative;
    max-height: 885px;
}

.filter {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    padding-right: 32rem;
    align-items: center;
    justify-content: space-evenly;
}

.filter p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.filter h1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.imgtext {
    max-width: 425px;
    color: white;
    display: flex;
    flex-direction: column;

    z-index: 3;
}

.detailbtn {
    border: 0;
    background: #17B0D9;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 0;
    transition: color .7s, background-color .7s;
}

.detailbtn:hover {
    color: #17B0D9;
    background: white;
}


.doctor .col-4 img {
    max-width: 482px;
    position: relative;
    width: 100%;
    top: 1.75rem;
}

.doctor {
    position: relative;
}

.lake {
    position: absolute;
    width: 100%;
    object-fit: cover;
    max-height: 800px;
    height: 100%;
    z-index: -2;
    top: 0;
}

.doctor .row1 {
    width: 100%;
    max-height: 800px;
    margin: 0 auto;
    height: 100%;
    background: rgba(255, 255, 255, .6);
}

.doctor .row1 .col-4 {
    position: relative;
    bottom: -1rem;
    max-height: 800px;
    height: 100%;
}

.ball {
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 2rem auto;
    padding: 2.5rem 1rem;
    color: white;
}

.ball h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ballcol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



.lball {
    margin-right: 0;
}

.rball {
    margin-left: 0;
}

.purple {

    background-image: linear-gradient(to right, #6662A7, #3f3d69);

}

.darkblue {

    background-image: linear-gradient(to right, #146C94, #105474);
}

.lightblue {
    background-image: linear-gradient(to right, #17B0D9, #0d6179);
}

.yellow {

    background-image: linear-gradient(to right, #DBC83F, #817625);

}

.green {

    background-image: linear-gradient(to right, #7DC379, #4f7a4d);
}

.lila {
    background-image: linear-gradient(to right, #7194BA, #35485c);
}

.rball,
.lball {
    margin-top: 1rem;
}

.ball button {
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: .5rem .5rem;
}

.end {
    margin-bottom: 3rem;
}

.bluearea {
    background: linear-gradient(90deg, #146C94, #0A374B, #000000);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
}

.bluearea p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.values {
    max-width: 840px;
    width: 100%;
    color: white;
}

.content {
    max-width: 345px;
    width: 100%;
}

.plus {
    color: #00C9FF;
}

.bigrow {
    display: flex;
}

.slider-nav img {
    max-width: 461px;
    width: 100%;
}

.container {
    max-width: 1440px !important;
    width: 100%;
}

.slider {
    margin: 3rem auto;
}

.item {
    display: flex !important;
    justify-content: space-evenly;
    width: 100%;
}


.singleimg {
    max-width: 840px !important;
}

.singleimg img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slidercontent {
    background: white;
    box-shadow: 0px 0 20px #00000063;
    padding: 2.5rem 1rem;
    font-size: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slidercontent2 {
    padding: 0 .5rem;
    box-shadow: 0px 0 20px #00000063;
    max-width: 461px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: .5rem;
}

.slidercontent2 p {
    padding-bottom: 1rem;

}

.slidercontent p {
    font-size: 1.75rem;
}

.singleimg div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 13rem;
}

.contiune {
    text-align: end;
    display: block;
    margin-top: -3rem;
}

.double {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.news h1 {
    margin-top: 1rem;
    text-align: center;
}

section.news {
    overflow-x: clip;
}

.primary {
    color: #146C94;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.singleimg p {
    max-width: 477px;
}

a:hover {
    text-decoration: none !important;
}

.answers {
    position: relative;
    margin-top: 3rem;
    color: white;
}

.filter2 {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.filter2>img {
    width: 100%;
    object-fit: cover;
    max-height: 700px;
    filter: brightness(75%);
}

.answerflex {

    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.flag {
    max-height: 750px;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
    background-color: #146C94;
}

.flag img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.paragraf {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail2 {
    border-radius: 20px;
    color: white;
    padding: .5rem 2rem;
    border: 1px solid #17B0D9;
    background: #17B0D9;
    transition: all .4s;
}

.detail2:hover {

    color: #17B0D9;


    background: white;
}

.calismaalan {
    margin: 3rem auto;
}

.calismaalan h1 {
    text-align: center;

}

.calismaalan .cardimg p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mobilerow {
    margin-bottom: 1rem;

}

.calismaalan .row .cardimg img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardimg {
    text-align: center;
    background: white;
    padding-bottom: .5rem;
    box-shadow: 0px 0 3px #00000063;
    border-radius: 10px;
    transition: all .4s;
}

.cardimg p {
    margin-top: 1rem;
}

.cardimg:hover {
    color: white;
    background: #17B0D9;
    cursor: pointer;
}

.filter3 {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 2;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
}

.filter3 p {
    text-align: center;
    margin: auto;
    font-weight: 100;
    font-size: 1.75rem;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.quote-right {
    bottom: -4rem;
    font-size: 3rem;
    right: -5rem;
    position: absolute;
}

.try {
    position: relative;
}

.quote-left {
    top: -2rem;
    font-size: 3rem;
    left: -6rem;
    position: absolute;
}

.quotes {
    position: relative;
}

.backimg {
    width: 100%;
}

.information .header {
    text-align: center;
}

.box {
    max-width: 680px;
    max-height: 543px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0 20px #00000063;
    padding-bottom: 1rem;
}

.boxes {
    display: flex;
    max-height: 256px;
    flex-direction: column;
}

.boxdob {
    display: flex;
    max-width: 648px;
    border-radius: 10px;
    max-height: 235px;
    box-shadow: 0px 0 20px #00000063;
}

.boxdob img {
    width: 100%;
    max-height: 256px;
    height: 100%;
}

.resslide {
    max-width: 500px;
    max-height: 443px;
}

.res {
    display: none;
}

.slibox {
    box-shadow: 0px 0 20px #00000063;
    margin: 1rem;

}

.boxdob .boxcontent {
    padding: .5rem;
}

.useful-information {
    margin: 3rem 0;
}

.boximage {
    max-width: 684px;
    width: 100%;
    max-height: 543px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxcontent {
    padding: 0 1rem;
    padding-top: 1rem;
}

.boximage img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.side {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
}

.side img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
}

.box1 {
    margin-bottom: 1rem;
}

.triplebox {
    display: flex;
    justify-content: space-around;
}

.autumslider {
    position: relative;
    display: flex;
    align-items: center;
    margin: 3rem auto;

}

.background {
    width: 100%;
    filter: brightness(70%);
    position: absolute;
    height: 100%;
}

.background img {
    width: 100%;
    object-fit: cover;
    max-height: 700px;
    height: 100%;
    filter: brightness(75%);
}

.autumslider .container-fluid {
    margin: 3rem auto;
}

.activeties {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}

.centerslide .centeritem.center {
    opacity: 0.8;
    transition: all 300ms ease;
}

.centeritem {
    border: 1px solid gray;
    max-width: 735px;
    opacity: .25;
    margin: 0 2.75rem;
    border-radius: 20px;
    background: white;
}

.centeritem img {
    border-radius: 10px;
    max-width: 100%;
    object-fit: scale-down;
    max-height: 700px;
}

.slick-active {
    opacity: 1;
}

.working-area {
    overflow: hidden;
}

.centercontent {
    margin: 0.5rem 1rem;
}

.anglelink i {

    color: #000000;
}

.fa-angle-left,
.fa-angle-right {
    position: absolute;
    font-size: 3rem;
    z-index: 3;
    color: white;
}

.fa-angle-left {
    top: 49%;
    left: 15%;
}

.fa-angle-right {
    right: 15%;
    top: 49%;
}


.fancy-gallery video {
    object-fit: cover;
}

.fancy-gallery img:not(.video) {
    max-width: 411px;
}

.galleryheader {
    text-align: center;
    margin-bottom: 3rem;
}

.members {
    max-width: 320px;
    background: #F6F1F1;
    margin: 0 1rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 10px;
    border: none;
    transition: all .4s;
    opacity: .5;
}

.members p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.members:hover {
    background: #17B0D9;
    color: white;
    opacity: 1;
    cursor: pointer;
}

footer ul:not(.loc) {
    list-style: none;
    line-height: 2rem;
}

.icons {
    font-size: 2.25rem;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

.baslik {
    color: #17B0D9;
}

.underline {
    max-width: 25px;
    width: 100%;
    border-top: 2px solid #17B0D9;
    margin-bottom: 1rem;
}

.contact i {
    color: #17B0D9;
}

.footer {
    background: #F6F1F1;
    padding-top: 1rem;
}

.copyright {
    background-image: linear-gradient(to right, #17B0D9, #146F97);
    color: white !important;
}

.copyright h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    margin: 0.25rem !important;
    -webkit-box-orient: vertical;
}

.aciklama p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

footer li p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

footer li.loc p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width:1530px) {
    .doctor .col-4 img {

        top: 3.2rem;
    }

}

@media only screen and (max-width:1640px) {

    .flag {
        max-height: 500px;
    }

    .calismaalan {
        margin-top: 15rem;
    }
}

@media only screen and (max-width:1470px) {
    .bigrow {
        flex-direction: column;
        text-align: center;
    }

    .members {
        font-size: .75rem;
    }

    .slick-dots {
        max-width: 1400px;

    }

    .doctor .col-4 img {
        top: 5rem;
    }
}

@media only screen and (max-width:1440px) {
    .ball {
        max-width: 140px;
        width: 100%;
        padding: 1rem .25rem;
    }

    .doctor .col-4 img {
        max-width: 369px;
        margin-left: 2rem;
        top: -.5rem;
    }

    .ball button {

        padding: .2rem;
        font-size: .85rem;
    }

    .ball h2 {

        font-size: 1.75rem;
    }

    .slick-dots {
        max-width: 1250px;
        margin-right: 5rem !important;
    }

    .vadervideo {
        margin: 0 auto;
        max-width: none !important;
    }

    .fancy-gallery .row a:not(a:first-child) {
        display: none;
    }

}

@media only screen and (max-width:1350px) {
    .item {
        flex-direction: column;
        justify-content: center;
    }

    .singleimg {
        margin: 2rem auto;
    }

    .double {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .res {
        display: block;
    }


    .calismaalan {
        margin-top: 5rem;
    }

}

@media only screen and (max-width:1160px) {
    .centeritem {
        max-width: 535px;
    }

    .copyright div h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:1054px) {
    .members p {
        font-size: 1rem;
    }
    }
@media only screen and (max-width:1250px) {
    .burger-menu {
        display: block;
    }

    .flag {
        max-height: 400px;
    }

    .space {
        max-width: 20% !important;
    }

    .answerflex {
        margin: 0 auto !important;
        padding-left: 5rem;
        width: 100%;
        height: 100%;
    }

    .dropdown-content2 {
        background-color: #f9f9f9;
        min-width: 160px;
        padding: 12px 16px;
        z-index: 9991;
        transition: all .4s;

    }

    .normal {
        display: none;
    }

    .doctor .col-4 img {
        max-width: 300px;
        margin-left: 0;
        top: 6.35rem;
    }

    .slick-dots {
        max-width: 1024px;
        margin-left: 5rem !important;
    }

    .calismaalan {
        margin-top: 9rem;
    }
}



@media only screen and (max-width:994px) {
    .copyright div h3 {
        font-size: 1.5rem;
    }

    .quote-right {
        bottom: -2rem;
        right: -3rem;
    }

    .quote-left {
        top: -1rem;
        font-size: 2rem;
        left: -2rem;
        position: absolute;
    }

    .video {
        max-width: 768px;

    }

    .doctor .col-4 img {
        top: 1rem;
    }

    .ball {
        max-width: 110px;
        width: 100%;
        padding: 0.75rem 0rem;
    }

    .ball button {
        padding: 0.1rem;
        font-size: .75rem;
    }

    .ball h2 {
        font-size: 1.25rem;
    }

    .videofilter {

        width: 768px;

    }

    .col-3.resizecol {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .filter {
        padding-right: 10rem;

    }

    .imgtext {
        font-size: .75rem;
    }

    .imgtext .detailbtn {
        padding: .5rem;
    }

    .slick-dots {
        max-width: 480px;
        margin-left: 15rem !important;
    }

    .double {
        display: none;
    }

    .paragraf h1 {
        font-size: 1.25rem;
    }

    .paragraf p {
        font-size: .85rem;
    }

    .paragraf button {
        font-size: .75rem;
    }

    .space {
        max-width: 15% !important;
    }

    .flag {
        max-height: 300px;
    }

    .mobilerow {
        justify-content: center !important;
    }

    .clear {
        clear: both;
        height: 20px;
        width: 100%;
    }

    .quote {
        font-size: 2rem;

    }

    .fa-angle-right {
        right: 10%;
        top: 49%;
    }

    .fa-angle-left {
        left: 10%;
        top: 49%;
    }

    .contact {
        max-width: none !important;
        flex: none !important;
    }

    .pages,
    .aciklama {
        max-width: 50% !important;
        flex: 50% !important;
    }
}

@media only screen and (max-width:940px) {

    .doctor .col-4 img {
        margin-top: 2rem !important;
    }
}

@media only screen and (max-width:900px) {

    .doctor .col-4 img {
        margin-top: 3rem !important;
    }
}

@media only screen and (max-width:880px) {

    .doctor .col-4 img {
        display: none;
    }
}

@media only screen and (max-width:835px) {
    .filter3 p {
        font-size: 1.5rem;
    }

    .quote {
        font-size: 1rem;
    }

    .fa-quote-left {
        top: -1rem;
    }

    .fa-quote-right {
        bottom: -1rem;
        right: -3rem;
    }

    .video {
        max-width: 480px !important;

    }

    .videofilter {

        width: 480px !important;

    }

}


@media only screen and (max-width:768px) {
    .calismaalan {
        margin-top: 5rem;
    }

    .quote-right {
        bottom: -1rem;
        right: 1rem;
    }

    .doctor .col-4 img {
        display: none;
    }

    blockquote:before,
    blockquote:after {
        font-size: 5rem !important;
        width: 1rem;
        height: 1rem;
    }

    blockquote {
        font-size: 1.5rem;
    }

    .ball {
        margin: 2rem auto;

    }

    blockquote:after {
        right: -1rem;
    }

    blockquote:before {
        left: -3rem;
    }

    .doctorimg {
        width: 0 !important;
        padding: 0 !important;
        flex: 0 0 0% !important;
    }

    .doctor .row1 {
        justify-content: space-between;
    }

    .flag {
        display: none;
    }


    .fa-quote-right {
        bottom: 0rem;
        right: 0rem;
    }

    .filter3 p {

        font-size: 1rem;
        max-width: 480px;
    }

    .quote-left,
    .quote-right {
        font-size: 1.5rem;
    }

    .quote-left {
        left: -1rem;
    }

    .contact {
        text-align: center;
    }

    .pages,
    .aciklama {
        text-align: center;
        margin: 0 auto;
        max-width: none !important;
        flex: none !important;
    }

    .underline {
        margin: 0 auto;
    }

    .icons {
        max-width: none;
    }

    .paragraf {
        margin-top: 5rem;
    }
}


@media only screen and (max-width:590px) {
    .centeritem {
        max-width: 380px;
    }

    .paragraf {
        margin-top: 2.5rem;
    }
}

@media only screen and (max-width:512px) {
    .filter {
        padding-right: 0;

    }

    .imgtext {
        font-size: .65rem;
    }

    .imgtext .detailbtn {
        padding: .5rem;
    }

    blockquote:after {
        right: 4rem;
    }

    blockquote:before {
        left: -2rem;
    }
}

@media only screen and (max-width:568px) {
    .singleimg p {
        font-size: 1.25rem;
    }

    .filter {
        padding: 0 !important;
    }
}

@media only screen and (max-width:520px) {
    .filter3 p {
        font-size: 1rem;
        max-width: 380px;
    }

    blockquote:after {
        right: 2rem;
    }

    blockquote:before {
        left: 0rem;
    }

    blockquote {
        font-size: .75rem;
    }

    .calismaalan {
        margin-top: 5rem;
    }

    .paragraf {
        margin-top: 1rem;
    }
}

@media only screen and (max-width:480px) {
    .ball {
        max-width: 100px;
        height: 100px;

        padding: 1.75rem 0;
    }

    .ball button {
        padding: auto;
        font-size: .75rem;
    }

    .ball h2 {
        font-size: .75rem;
    }

}

@media only screen and (max-width:355px) {
    .navheader h3 {
        font-size: 1.25rem;
        margin-top: .25rem;
    }

    .burger-menu {
        height: 30px;
    }

    .doctor .row1 {
        justify-content: center;
    }

    .ball {
        height: 90px;
        padding: 10px
    }

    .ball button {
        padding: 2px;
        font-size: .65rem;
    }
}

@media only screen and (max-width:320px) {


    .ball button {
        font-size: .5rem;
    }
}